body{
    margin-top: 0rem;
    margin-left: max(1rem, 50% - 300px);
    margin-right: max(1rem, 50% - 300px);
    
    font-family: "Comic Relief";
    background-color: rgb(151, 116, 190);
    color: rgb(73, 40, 110);
}

h1{
    font-size: 4rem;
    text-align: center;

    color: rgb(73, 40, 110);
    text-shadow: 3px 3px rgb(53, 23, 87);
}

a{
    color: rgb(25, 81, 201);
    text-shadow: 1px 1px rgb(13, 46, 117);
}

section, nav{
    background-color: rgb(133, 101, 170);
    border: 3px solid rgb(111, 81, 146);
    border-radius: 10px;

    padding: 0;
    margin-bottom: 1rem;
}

nav{
    text-align: center;
}

nav a{
    text-decoration: none;

    margin-left: .3rem;
    margin-right: .3rem;
}