body{
    margin-top: 0;
    margin-left: max(1rem, 50% - 300px);
    margin-right: max(1rem, 50% - 300px);
    
    font-family: "Comic Relief";
    background-color: rgb(197, 166, 219);
    color: rgb(68, 40, 91);

    zoom: 150%;
}

@media only screen and (max-width: 550px){
    body{
        zoom: 100%;
    }
}

@media only screen and (max-width: 360px){
    body{
        zoom: 50%;
    }
}

@media only screen and (max-width: 180px){
    body{
        zoom: 30%;
    }
}

h1{
    font-size: 3.8rem;
    text-align: center;

    color: rgb(95, 60, 136);
    text-shadow: 3px 3px rgb(53, 23, 87);
}

h2, h3{
    margin-top: 0;
    margin-bottom: .5rem;
}

h5{
    margin: 0;
}

p{
    margin-top: 0;
    margin-bottom: 0;
}

a{
    color: rgb(34, 88, 206);
    text-shadow: 1px 1px rgb(18, 47, 110);
    text-decoration: none;
}

section{
    padding: .3rem;
}

section, nav{
    background-color: rgb(181, 145, 206);
    border: 3px solid rgb(130, 101, 163);
    border-radius: 10px;

    margin-bottom: .7rem;
}

nav{
    text-align: center;
    padding: 0;
}

nav a, nav span{
    margin-left: .3rem;
    margin-right: .3rem;

    font-weight: bold;
}

hr{
    color: rgb(130, 101, 163);
}

.title-header{
    display: inline;
    position: relative;

    top: 1rem;
}

.fine-print{
    font-size: 0.65rem;
}

.margin-bottom-0{
    margin-bottom: 0;
}

#title{
    text-align: center;
    height: 7rem;
}

#changelog li{
    margin-bottom: 1rem;
}