body{
    margin-top: .7rem;
    margin-left: max(1rem, 50% - 300px);
    margin-right: max(1rem, 50% - 300px);
    
    font-family: "Comic Relief";
    background-color: rgb(197, 166, 219);
    color: rgb(68, 40, 91);

    zoom: 150%;
}

@media only screen and (max-width: 550px){
    body{
        zoom: 100%;
    }
}

@media only screen and (max-width: 360px){
    body{
        zoom: 50%;
    }
}

@media only screen and (max-width: 180px){
    body{
        zoom: 30%;
    }
}

h1{
    font-size: 3.8rem;
    text-align: center;

    color: rgb(95, 60, 136);
    text-shadow: 3px 3px rgb(53, 23, 87);
}

h2{
    margin-top: 0;
    margin-bottom: .5rem;
}

p{
    margin-top: 0;
    margin-bottom: 0;
}

a{
    color: rgb(34, 88, 206);
    text-shadow: 1px 1px rgb(18, 47, 110);
    text-decoration: none;
}

section{
    padding: .3rem;
}

section, nav{
    background-color: rgb(181, 145, 206);
    border: 3px solid rgb(130, 101, 163);
    border-radius: 10px;

    margin-bottom: .7rem;
}

nav{
    text-align: center;
    padding: 0;
}

nav a{
    margin-left: .3rem;
    margin-right: .3rem;
}

table{
    border-spacing: 0;
}

td, th{
    border: 2px solid rgb(130, 101, 163);
    padding: 5px;
}

.top-left{
    border-top-left-radius: 10px;
}

.top-right{
    border-top-right-radius: 10px;
}

.bottom-left{
    border-bottom-left-radius: 10px;
}

.bottom-right{
    border-bottom-right-radius: 10px;
}

.title-header{
    display: inline;
    position: relative;

    top: 1rem;
}

#title{
    text-align: center;
    height: 8rem;
}